.backgroundLogin {
    width: 100;
    height: 100;
    background-image: url('../../../public/Imagenes/collage1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 110px;*/
}

.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
}

.formLoginBackground {
    width: 80%;
    max-width: 900px;
    background-color: rgb(255, 255, 255, 0.75);
    padding: 25px;
    border-radius: 10px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .formLoginBackground {
        width: 50%
    }
}