.galleryBackground1 {
    width: 100%;
    padding: 30px;
    background-color: rgb(250, 51, 51);
}

.galleryBackground2 {
    width: 100%;
    padding: 30px;
    background-color: rgb(63, 151, 89);
}

.galleryBackground3 {
    width: 100%;
    padding: 30px;
    background-color: rgb(154, 177, 212);
}

.galleryHeading {
    font-size: 70px;
    font-family: 'Permanent Marker';
}

.galleryHeader {
    padding: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

.gallerySections {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Permanent Marker';
}

.cuadro {
    width: 100%;
    border: 7px solid black;
    margin-bottom: 30px;
}

.oleo1 {
    width: 80%;
    margin-bottom: 30px;
    border: 7px solid black;
}

.oleo2 {
    width: 80%;
    border: 7px solid black;
    margin-bottom: 30px;

}

.revolver {
    width: 90%;
    border: 7px solid black;
    margin-bottom: 20px;
}

.dibujo1 {
    width: 84%;
    margin-bottom: 20px;
    border: 7px solid black;
}

.dibujo2 {
    width: 84%;
    margin-bottom: 30px;
    border: 7px solid black;
}

.cyber {
    width: 100%;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .galleryHeader {
        padding: 30px;
    }
}