.navLink {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    color: #ffa500;
}

.languageChange {
    background-color: rgb(65, 65, 62);
    color: white;
    width: 50px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .navLink {
        margin-left: 0;
        margin-right: 0;
    }
}